@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins  ;
}
body {
  background-color: #F0F0F0;
  height: 100vh;
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-top: 100px;
  padding-bottom: 20px;
}
.text>h1{
  font-weight: 600;
}
.text>p{
  font-size: 12px;
  color: #8a8a8a;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  /* background-color: #fff; */
  width: 280px;
  height: 450px;
  border-radius: 20px;
  box-shadow: 0  0 20px #00000023;
  margin: 20px;
}
.bgSet{
  border-radius: 20px;
  background: #ffffff;
  padding:12px 10px ;
}
.upper{
  background: linear-gradient(#ececec,#adadad23);
  border-radius: 12px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  flex-flow: column;
  padding: 6px 10px;
}
.two{
  background: linear-gradient(#ececec,#003cff23);
}
.three{
  background: linear-gradient(#ececec,#00ffc823);
}
.starter{
  background-color: #fff;
  margin-top: 10px;
  border-radius: 30px;
  padding: 4px 10px;
  font-size: 9px;
}
.salary{
  font-weight: 500;
}
.salary>span{
  color: #8a8a8a;
  font-size: 14px;
}
.mid{
  margin-top: 20px;
  color: #8a8a8a;
  font-size: 12px;
}
.mid>button{
  width: 100%;
  margin-top: 20px;
  padding: 10px ;
  background-color: #000;
  border: none;
  outline: none;
  border-radius: 20px;
  font-family: poppins;
  color: white;
  box-shadow: inset 4px 4px 6px #adadad98,inset 0px 0px 10px #64646498, 4px 4px 6px #0000003d;
  cursor: pointer;
}
.lower{
  display: flex;
  justify-content: center;
  align-items: self-start;
  flex-flow: column;
  padding: 0 14px;
  margin-top: 20px;
}
.lower>span{
  margin: 6px 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lower>span>i{
  margin: 0 7px;
  font-size: 10px;
  color: #9b9b9b;
}
